{
  "rules": {
    "@typescript-eslint/indent": 0,
    "quotes": [2, "single", { "avoidEscape": true }],
    "linebreak-style": [2, "unix"],
    "semi": [2, "always"],
    "comma-dangle": [2, "only-multiline"],
    "no-console": 0,
    "no-global-assign": 0,
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-non-null-assertion": 0,
    "@typescript-eslint/camelcase": 0,
    "no-undef": "warn",
    "@typescript-eslint/no-use-before-define": "warn",
    "@typescript-eslint/no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
    "ecmaVersion": 2018
  },
  "plugins": ["@typescript-eslint"]
}
